@model IEnumerable<NickAndArtie.Models.YoutubeVideo>

@{
    ViewBag.Title = "Index";
}

<h2>YouTube Listing</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Embed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFeatured)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SortOrder)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Raw(item.Embed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsFeatured)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SortOrder)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
