@model NickAndArtie.Models.Post

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Manage.cshtml";
}

<h2>Create a new Post</h2>

<form method="post" enctype="multipart/form-data">
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Post</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.HeadingShort)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HeadingShort)
            @Html.ValidationMessageFor(model => model.HeadingShort)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AirDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AirDate)
            @Html.ValidationMessageFor(model => model.AirDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DescriptionShort)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DescriptionShort)
            @Html.ValidationMessageFor(model => model.DescriptionShort)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DescriptionLong)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DescriptionLong)
            @Html.ValidationMessageFor(model => model.DescriptionLong)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageLarge)
        </div>
        <div class="editor-field">
            <input type="file" name="ImageLargeUpload" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageThumb)
        </div>
        <div class="editor-field">
            <input type="file" name="ImageThumbUpload" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HeadingLong)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HeadingLong)
            @Html.ValidationMessageFor(model => model.HeadingLong)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HeadingSub)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HeadingSub)
            @Html.ValidationMessageFor(model => model.HeadingSub)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Slug)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Slug)
            @Html.ValidationMessageFor(model => model.Slug)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

