@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NickAndArtie.cshtml";
}

@section PageCSS{
    <link rel="stylesheet" href="/public/libraries/jPlayer/blue.monday/jplayer.blue.monday.css">
}
@section Playlist{
    @{ Html.RenderPartial("Playlist",(List<NickAndArtie.Models.Podcast>)ViewBag.Podcasts); }
}

<div id="fb-root"></div>
<script>    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=203096113107701";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));</script>

<div class="sixteen columns">
		
		<div class="banner-ad">
			<!-- begin ad tag -->
            <script type="text/javascript">
                //<![CDATA[
                ord = Math.random() * 10000000000000000;
                document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/prnd/prn-nick;prntype=web;prngenre=sports;sz=300x250;u=prntype*web!prngenre*sports!sz*300x250;ord=' + ord + '?"><\/script>');
                //]]>
            </script>
            <noscript><a href="http://ad.doubleclick.net/jump/prnd/prn-nick;prntype=web;prngenre=sports;sz=300x250;u=prntype*web!prngenre*sports!sz*300x250;ord=123456789?" target="_blank" ><img src="http://ad.doubleclick.net/ad/prnd/prn-nick;prntype=web;prngenre=sports;prnpage=dannation;sz=300x250;u=prntype*web!prngenre*sports!sz*300x250;ord=123456789?" border="0" alt="" /></a></noscript>
            <!-- end ad tag -->
		</div>
	</div>  
    @{
        var ThisPost = (NickAndArtie.Models.Post)ViewBag.Post;
    }
	<div class="row">
      <div class="one-third column side-column side-column-left fatest">
		<div class="post-module">
			<div class="post-module-heading">
                <h1>@(ThisPost.HeadingLong)</h1>
                <h2>@(ThisPost.HeadingShort)</h2>
			</div>
			<div class="post-module-body">
				<div class="meet-module-arrow">
				</div>
				<div id="post-body">
                    <div class="post-column">
                        <div>
                            <img src="@(ThisPost.ImageLarge)" />
                        </div>
                        <div>
                            @(ThisPost.DescriptionLong)
                        </div>

                        <div class="share"></div>
                        <br />
                        <div class="fb-comments" data-href="@(HttpContext.Current.Request.Url.AbsoluteUri)" data-num-posts="2" data-width="560" data-colorscheme="dark"></div>
                    </div>
				</div>
			</div>
		</div>

	</div>     
      <div class="one-third column side-column">
        <div class="shows-module">
			<div class="shows-module-heading">
			</div>
			<div class="shows-module-body">
				<div class="twitter-module-arrow">
				</div>
				@{ Html.RenderPartial("PodcastSmall"); }
			</div>
            <div class="shows-footer">
				<a href="/podcasts/popup" class="PopUpPlayer">Pop-Up Player</a>
			</div>
		</div> 
      </div>    
    </div>
    <hr />
