@model NickAndArtie.Models.PhotoReel
@using System.Web.Optimization;

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PhotoReel</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageThumb)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageThumb)
            @Html.ValidationMessageFor(model => model.ImageThumb)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageLarge)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageLarge)
            @Html.ValidationMessageFor(model => model.ImageLarge)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
