@model NickAndArtie.Models.Podcast

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Podcast</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Podcast</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FileName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FileName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Image)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Image)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Artist)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Artist)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DatePublished)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DatePublished)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
