@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NickAndArtie.cshtml";

    bool IsMobile = (bool)ViewBag.IsMobile;
}

@section PageCSS{
    <link rel="stylesheet" href="/public/libraries/jPlayer/blue.monday/jplayer.blue.monday.css">
}

@section Playlist{
    @{ Html.RenderPartial("Playlist",(List<NickAndArtie.Models.Podcast>)ViewBag.Podcasts); }
}

<div class="sixteen columns">
		
		<div class="banner-ad">
			<!-- begin ad tag -->
            <script type="text/javascript">
                //<![CDATA[
                ord = Math.random() * 10000000000000000;
                document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/prnd/prn-nick;pos=top;prntype=web;prngenre=sports;sz=728x90;u=pos*top!prntype*web!prngenre*sports!sz*728x90;ord=' + ord + '?"><\/script>');
                //]]>
            </script>
            <noscript><a href="http://ad.doubleclick.net/jump/prnd/prn-nick;pos=top;prntype=web;prngenre=sports;sz=728x90;u=pos*top!prntype*web!prngenre*sports!sz*728x90;ord=123456789?" target="_blank" ><img src="http://ad.doubleclick.net/ad/prnd/prn-nick;pos=top;prntype=web;prngenre=sports;prnpage=dannation;sz=728x90;u=pos*top!prntype*web!prngenre*sports!sz*728x90;ord=123456789?" border="0" alt="" /></a></noscript>
            <!-- end ad tag -->
		</div>
		
		<div class="slideshow" id="slideshow">
			<div class="slides_container">
                @{
                    if(!IsMobile)
                    {
                        var SlideShowImages = (List<NickAndArtie.Models.SlideShow>)ViewBag.SlideShowImages;
                    
                        foreach(var ThisItem in SlideShowImages)
                        {
                            if(ThisItem.IsListenLive)
                            {
                                <div>
					                <a href="@(ThisItem.ImageDestination)" class="ListenLiveWindow"><img src="@(ThisItem.ImageLarge)"></a>
				                </div>
                            }
                            else if(ThisItem.ImageDestination != "")
                            {
                                <div>
					                <a href="@(ThisItem.ImageDestination)"><img src="@(ThisItem.ImageLarge)"></a>
				                </div>
                            }
                            else
                            {
                                <div>
					                <img src="@(ThisItem.ImageLarge)">
				                </div>   
                            }
                        }
                    }
                }
			</div>
		</div>
	</div>
	<div class="row">
      <div class="one-third column side-column side-column-left">
		<div class="twitter-module">
			<div class="twitter-module-heading">
			</div>
			<div class="twitter-module-body">
				<div class="twitter-module-arrow">
				</div>
				<div id="twitter-body">
				</div>
				<div class="twitter-footer">
					<a href="http://twitter.com/NickandArtie" target="_blank">See More</a>
				</div>
			</div>
		</div>
		<div class="advertisement-left">
			<!-- begin ad tag -->
            <script type="text/javascript">
                //<![CDATA[
                ord = Math.random() * 10000000000000000;
                document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/prnd/prn-nick;prntype=web;prngenre=sports;sz=300x250;u=prntype*web!prngenre*sports!sz*300x250;ord=' + ord + '?"><\/script>');
                //]]>
            </script>
            <noscript><a href="http://ad.doubleclick.net/jump/prnd/prn-nick;prntype=web;prngenre=sports;sz=300x250;u=prntype*web!prngenre*sports!sz*300x250;ord=123456789?" target="_blank" ><img src="http://ad.doubleclick.net/ad/prnd/prn-nick;prntype=web;prngenre=sports;prnpage=dannation;sz=300x250;u=prntype*web!prngenre*sports!sz*300x250;ord=123456789?" border="0" alt="" /></a></noscript>
            <!-- end ad tag -->
		</div>
		
		<div class="photo-module">
			<div class="photo-module-heading">
			</div>
			<div class="photo-module-body">
				<div id="PhotoReel" class="content">
                    @{
                        if(!IsMobile)
                        {
                            var ThisPhotoReel = (List<NickAndArtie.Models.PhotoReel>)ViewBag.PhotoReel;
                        
                            foreach(var ThisItem in ThisPhotoReel)
                            {
                                <div class="images_container">
						            <a href="@(ThisItem.ImageLarge)"><img src="@(ThisItem.ImageThumb)" alt="@(ThisItem.Title)"/></a>
					            </div>
                            }
                        }
                    }
					
				</div>
			</div>
		</div>
	</div>
      <div class="one-third column middle-column fat">
		<div class="feature-column-heading">
			<img src="/public/images/hitlisttype.png">
		</div>

        @{
            var ThesePosts = (List<NickAndArtie.Models.Post>)ViewBag.Posts;
            
            if(IsMobile)
            {
                ThesePosts = ThesePosts.Take(2).ToList();
            }
            
            foreach (var ThisItem in ThesePosts)
            {
                <div class="feature-column-item">
			        <div>
                        <a href="/post/@(ThisItem.Slug)">
				            <img src="@(ThisItem.ImageThumb)">
                        </a>
			        </div>
			        <h3>
				        <a href="/post/@(ThisItem.Slug)">@(ThisItem.HeadingShort) - @(ThisItem.AirDate.ToShortDateString())</a>
			        </h3>
			        <h4>
				        @(ThisItem.DescriptionShort)...<a href="/post/@(ThisItem.Slug)">Read More</a>
			        </h4>
		        </div>
            }
        }
		
		
      </div>     
      <div class="one-third column side-column">
        <div class="shows-module">
			<div class="shows-module-heading">
			</div>
			<div class="shows-module-body">
				<div class="twitter-module-arrow">
				</div>
                @{ Html.RenderPartial("PodcastSmall"); }
			</div>
            <div class="shows-footer">
				<a href="/podcasts/popup" class="PopUpPlayer">Pop-Up Player</a>
			</div>
		</div> 
		<div class="advertisement-right">
			<!-- begin ad tag -->
            <script type="text/javascript">
                //<![CDATA[
                ord = Math.random() * 10000000000000000;
                document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/prnd/prn-nick;prntype=web;prngenre=sports;sz=300x250;u=prntype*web!prngenre*sports!sz*300x250;ord=' + ord + '?"><\/script>');
                //]]>
            </script>
            <noscript><a href="http://ad.doubleclick.net/jump/prnd/prn-nick;prntype=web;prngenre=sports;sz=300x250;u=prntype*web!prngenre*sports!sz*300x250;ord=123456789?" target="_blank" ><img src="http://ad.doubleclick.net/ad/prnd/prn-nick;prntype=web;prngenre=sports;prnpage=dannation;sz=300x250;u=prntype*web!prngenre*sports!sz*300x250;ord=123456789?" border="0" alt="" /></a></noscript>
            <!-- end ad tag -->
		</div> 
		<div class="road-module">
			<div class="road-module-heading">
			</div>
			<div class="road-module-body">
                @{
                    if (!IsMobile)
                    {
                            var TheseRoadTrips = (List<NickAndArtie.Models.RoadTrip>)ViewBag.RoadTrips;

                            foreach (var ThisItem in TheseRoadTrips)
                            {
                        <div class="road-item">
				            <a href="@(ThisItem.URL)" target="_blank">
                                <div><strong>@(ThisItem.DateOfEvent.ToShortDateString())</strong> - @(ThisItem.Location)</div>
                                <div>@(ThisItem.Title)</div>
			                </a>
                        </div>
                            }
                        }
                    }
            </div>
		</div>    
      </div>    
    </div>
